APP_ENV=development
LOG_LEVEL=INFO

TFGM_GTFS_URL=https://odata.tfgm.com/opendata/downloads/TfGMgtfsnew.zip
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed

SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=greater_manchester_transport
SQL_SERVER_USERNAME=sa
SQL_SERVER_PASSWORD=ChangeThisLocalPassword_123!
SQL_SERVER_DRIVER=ODBC Driver 18 for SQL Server
SQL_SERVER_ENCRYPT=true
SQL_SERVER_TRUST_CERTIFICATE=true

SERVING_SQLITE_PATH=data/serving/transport_dashboard.db
